<% suffix = local_assigns.fetch(:form_suffix, "default") %>
<% property = local_assigns.fetch(:property, @property) %>
<div class="<%= local_assigns.fetch(:wrapper_class, "") %> border rounded-xl p-6 shadow-xs h-auto">
  <h2 class="sr-only">Booking information</h2>
  <p class="text-lg font-light tracking-tight text-gray-900"><span class="text-2xl font-semibold"><%= humanized_money_with_symbol(property.price) %></span> night</p>
  <div class="flex mt-6">
    <div class="px-3 pt-2.5 pb-1.5 rounded-l-lg ring-1 ring-inset ring-gray-400 shadow-sm focus-within:ring-2 focus-within:ring-black">
      <label for="booking-name-a-<%= suffix %>" class="block text-xs font-medium text-gray-900">Name</label>
      <input type="text" name="name" id="booking-name-a-<%= suffix %>" class="block p-0 w-full text-gray-900 border-0 sm:text-sm sm:leading-6 focus:ring-0 focus:outline-none placeholder:text-gray-400" placeholder="Jane Smith">
    </div>

    <div class="px-3 pt-2.5 pb-1.5 rounded-r-lg ring-1 ring-inset ring-gray-400 shadow-sm focus-within:ring-2 focus-within:ring-black">
      <label for="booking-name-b-<%= suffix %>" class="block text-xs font-medium text-gray-900">Name</label>
      <input type="text" name="name" id="booking-name-b-<%= suffix %>" class="block p-0 w-full text-gray-900 border-0 sm:text-sm sm:leading-6 focus:ring-0 focus:outline-none placeholder:text-gray-400" placeholder="Jane Smith">
    </div>

  </div>
  <button
    type="submit"
    class="flex justify-center items-center py-3 px-8 mt-4 w-full text-base font-medium text-white rounded-md border border-transparent focus:ring-2 focus:ring-offset-2 focus:outline-none bg-primary hover:bg-primary-dark focus:ring-primary"
  >
    Reserve
  </button>
  <p class="py-4 text-sm font-light text-center">You won't be charged yet</p>
  <div class="mt-4">
    <div class="flex justify-between font-light">
      <p>₹4,990 x 1 night</p>
      <p>₹4,990</p>
    </div>
    <div class="flex justify-between mt-4 font-light">
      <p>Airbnb service fee</p>
      <p>₹704</p>
    </div>
  </div>
  <div class="relative py-6">
    <div class="flex absolute inset-0 items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
  </div>
  <div class="flex justify-between font-medium">
    <p>Total before taxes</p>
    <p>₹5,694</p>
  </div>
</div>
