<%# locals: (property:, wrapper_class: "", form_suffix: "default") %> <%# more simpler way of assigning variable to partial %>
<% suffix = local_assigns.fetch(:form_suffix, "default") %>
<% property = local_assigns.fetch(:property, property) %>
<div 
  class="<%= local_assigns.fetch(:wrapper_class, "") %> border rounded-xl p-6 shadow-xs h-auto"
  data-controller = "booking"
  data-booking-per-night-price-cents-value = "<%= property.price_cents %>"  
  data-booking-service-fee-ratio-value = "0.18"
>
  <h2 class="sr-only">Booking information</h2>
  <p class="text-lg font-light tracking-tight text-gray-900">
    <span class="text-2xl font-semibold"><%= humanized_money_with_symbol(property.price) %></span> night
  </p>
  <div class="flex mt-6">
    <div class="px-3 pt-2.5 pb-1.5 rounded-l-lg ring-1 ring-inset ring-gray-400 shadow-sm focus-within:ring-2 focus-within:ring-black">
      <label for="checkin-<%= suffix %>" class="block text-xs font-medium text-gray-900">CHECK-IN</label>
      <input 
        type="text" 
        name="checkin" 
        id="checkin-<%= suffix %>" 
        class="block p-0 w-full text-gray-900 border-0 sm:text-sm sm:leading-6 focus:ring-0 focus:outline-none placeholder:text-gray-400" 
        placeholder="26/01/2026"
      >
    </div>

    <div class="px-3 pt-2.5 pb-1.5 rounded-r-lg ring-1 ring-inset ring-gray-400 shadow-sm focus-within:ring-2 focus-within:ring-black">
      <label for="checkout-<%= suffix %>" class="block text-xs font-medium text-gray-900">CHECK-OUT</label>
      <input 
        type="text" 
        name="checkout" 
        id="checkout-<%= suffix %>" 
        class="block p-0 w-full text-gray-900 border-0 sm:text-sm sm:leading-6 focus:ring-0 focus:outline-none placeholder:text-gray-400" 
        placeholder="27/01/2026"
      >
    </div>

  </div>
  <button
    type="submit"
    class="flex justify-center items-center py-3 px-8 mt-4 w-full text-base font-medium text-white rounded-md border border-transparent focus:ring-2 focus:ring-offset-2 focus:outline-none bg-primary hover:bg-primary-dark focus:ring-primary"
  >
    Reserve
  </button>
  <p class="py-4 text-sm font-light text-center">You won't be charged yet</p>
  <div class="mt-4 space-y-4">
    <div class="flex justify-between font-light">
      <p>
        <%= humanized_money_with_symbol(property.price) %> x <span data-booking-target = "numberOfNights">1</span> night
      </p>
      <p>
        <%= currency_symbol %> <span data-booking-target = "baseFare">0</span>
      </p>
    </div>
    <div class="flex justify-between font-light">
      <p>Airbnb service fee</p>
      <p>
        <%= currency_symbol %> <span data-booking-target = "serviceFee">0</span>
      </p>
    </div>
  
    <hr class="border-gray-300">

    <div class="flex justify-between font-medium">
      <p>Total before taxes</p>
      <p>
        <%= currency_symbol %>
        <span data-booking-target="totalAmount">0</span>
      </p>
    </div>
  </div>
</div>
